.container-h {
  display: flex;
  flex-flow: row;
  background-color: #A7CFD6;
  padding: 0px 90px;
  box-sizing: border-box;
}

.container-v {
  display: flex;
  flex-flow: column;
  background-color: lightgray;
}


